* {
  border: 1px solid red;
}
container {
  background-color: black;
  width:100%;
  height: 200px;
  overflow: scroll;
}

Background {
  /* background: url('../images/pathBackground.svg') no-repeat; */
  /* background-size: cover; */
  position: absolute;
  height: 100%;
  width: 100%;
  /* z-index: -1; */
}

Box img{
  top: 10%;
  height: 5%;
  left: 50%;
  position: absolute;
  z-index: 1;
}
.spacer {
	text-align: center;
	min-height: 100px;
}
